.item {
  margin: 5%;
  height: fit-content;
  width: 100%;
  min-width: 10rem;
  border: 3px solid rgb(230, 219, 219);
  border-radius: 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bottomSection {
  height: 20%;
  min-height: 2rem;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}

.text {
  margin: 0;
  text-align: center;
}
